<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daksh.wordhunch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".WordHunch"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Menu.ActivityMainMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MainMenu.theme"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Rink.RingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Menu.ActivityAbout"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".Splash.SplashActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ec46ea8824785d4b2d333ca4089e9a45cecaedf6" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>